.product-item-box {
    width: 230px;
    display: inline-block;
    margin: 12px;
}

.product-item {
    margin: 2vh;
    background: #1E2432;
    border: 1px solid #3D3E48;
    border-radius: 20px;
    color: #fff;
    overflow-y: hidden;
    position: relative;
    cursor: pointer;
}

.high-side {
    display: flex;
    justify-content: space-between;
}

.item_title p {
    margin: 14px;
    font-size: 20px;
}

.item_info-icon {
    margin: 10px;
    cursor: pointer;
}

.low-side {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.item_price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 30px 14px 0 10px;
    cursor: pointer;
}

.item_price p {
    font-size: 22px;
    color: #968D8D;
}

.item_image {
    margin: 20px 0 10px 20px;
    position: relative;
    z-index: 10;
}

.menu-item-ellipse {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.item_info-icon-checking {
    position: absolute;
    bottom: 3%;
    left: 5%;
    z-index: 20;
}

.item_image {
    margin: 20px 0 0 0;
    position: relative;
}

.item_image img {
    position: absolute;
    bottom: 10%;
    left: 20px;
}