.product-item {
    margin: 2vh;
    background: rgb(255, 255, 255, 0.15);
    border: 1px solid #3D3E48;
    border-radius: 20px;
    color: #fff;
    overflow-y: hidden;
}

.high-side {
    display: flex;
}

.product-info {
    width: 100%;
}

.product-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.low-side {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.product-size {
    padding: 10px;
    margin: 10px 0;
    background: rgb(255, 255, 255, .1);
    border: 1px solid #3D3E48;
    border-radius: 8px;
}

.low-side p {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0px;
}