.product-item-box {
    width: 230px;
    display: inline-block;
    margin: 12px;
}

.productItemFood {
    background: #1E2432;
    color: #fff;
    margin: 2vh;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.high-side {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.item_title p {
    margin: 14px;
}

.item_info-icon {
    margin: 10px;
    cursor: pointer;
}

.low-side {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 3;
}

.item_image {
    margin: 10px;
}

.item_price {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.item_price p {
    margin: 0 0 10px 0;
}

.menu-item-ellipse {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}